<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p>My Favorite Baseball Team!</p>
  <p><img class="pic" src="EJS/Boston.jpeg" /</p>
  <p>Best Baseball Team Not Here To Debate.</p>
  <p>The Red Sox have won World Series titles nine times (nine championships) in 1903, 1912, 1915, 1916, 1918, 2004, 2007, 2013, and 2018.</p>
<%- include('../partials/footer') %>