<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p>My Favorite Baseball Team!</p>
  <p><img class="pic" src="EJS/Boston.jpeg" /</p>
  <p>Best Baseball Team Not Here To Debate.</p>
<%- include('../partials/footer') %>