<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p>My Favorite Basketball Team.</p>
  <p><img class="pic" src="EJS/BostonC.jpeg" /</p>
  <p>Best Basketball Team Not Here To Debate.</p>
  <p>The Celtics are regarded as the most successful basketball team in NBA history; the franchise has won the most championships in the NBA with 17 (accounting for 23.9 percent of all NBA championships since the league's founding), and currently hold the record for the most recorded wins of any NBA team.</p>
<%- include('../partials/footer') %>