<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p>My Favorite Basketball Team.</p>
  <p><img class="pic" src="EJS/BostonC.jpeg" /</p>
  <p>Best Basketball Team Not Here To Debate.</p>
<%- include('../partials/footer') %>