<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p>My Favorite Football Team.</p>
  <p><img class="pic" src="EJS/Packers.jpeg" /</p>
  <p>Best Football Team Not Here To Debate.</p>
  <p>The Green Bay Packers are the third-oldest NFL franchise, established in 1919. The Green Bay Packers are the only non-profit, professional major league team in the United States, and are owned by the community. </p>
<%- include('../partials/footer') %>