<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p>This Node.js website utilizies Express.js and EJS templates to showcase different my favorite sports teams.</p>
  <p>Sports , Sports , Sports !</p>
  <p><img class="pic" src="EJS/Sports.jpeg" /</p>
  <p>This Page Is About My Favortie Sports Teams and a fact.</p>
  <p>Sports can teach kids to lead, to follow, to take responsibility, working with others, sportsmanship, and so much more. Every athlete, regardless of ability, has the opportunity to learn lifelong skills through sports, and every athlete deserves the opportunity to do so.</p>
<%- include('../partials/footer') %>